openapi: 3.0.3
info:
  title: Conversations
  description: The Conversations API provides a single entry point for users to carry out conversations across multiple supported messaging apps without losing any history.
  version: '1.0'
servers:
  - url: 'http://pantheon.api/v1.0/conversations'
paths:
  /startConversation:
    post:
      operationId: Start a conversation
      description: |-
        Begin a conversation via a supported messaging app.

        Rate Limits:
        - Test: 200 requests per minute
        - Basic: 1000 requests per minute
        - Premium: 10,000 requests per minute

        Running a single conversation across multiple apps with Pantheon begins with a call to this endpoint. Check out our guide on [conversing with Pantheon](guides/conversing-with-pantheon).
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  conversationId:
                    type: string
                    description: The ID of the started conversation. This ID can be used to track this conversation across all Pantheon endpoints.
              examples:
                example-1:
                  value:
                    conversationId: jhyug498772hka
      tags:
        - Engaging in conversations
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                'on':
                  type: string
                  description: 'ID of the application to begin the conversation on (eg Messenger, Twitter, SLack). Each app has a unique ID which can be retrieved from the [apps/getApps](./apps.md) endpoint.'
                with:
                  type: string
                  description: 'Identifier of the user on the provided messaging app.  This can be a username, phone number or ID.'
              required:
                - 'on'
                - with
            examples:
              example-1:
                value:
                  'on': SLACK
                  with: '@shalvah'
  /replyToConversation:
    put:
      description: ''
      responses: {}
      tags:
        - Engaging in conversations
components:
  securitySchemes:
    Access Token:
      name: Authorization
      type: apiKey
      in: header
security:
  - Access Token: []
